# Chặn node_modules ở mọi nơi (kể cả trong sub-folder)
node_modules/
**/node_modules/

# Chặn thư mục build
dist/
**/dist/
build/
**/build/

# Chặn file môi trường
.env
**/.env

# Chặn Database data 
mysql_data/
**/mysql_data/

# Chặn các file log hệ thống
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*