@import "tailwindcss";

/* Các code css khác của bạn ở dưới... */
@layer utilities {

    /* Class ẩn thanh cuộn để carousel trông xịn hơn */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    /* Tùy chỉnh Scrollbar cho giao diện Dark Mode */
    .custom-scrollbar::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: #111111;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #333333;
        border-radius: 4px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #dc2626;
        /* Hover màu đỏ cực chất */
    }

    /* Ghi đè màu nền mặc định khi Autofill trên Chrome/Edge/Safari */
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        /* Đổi mã màu #1a1a1a cho khớp với màu nền input dark mode của bạn */
        -webkit-box-shadow: 0 0 0 30px #1a1a1a inset !important;

        /* Đổi màu chữ thành trắng */
        -webkit-text-fill-color: white !important;

        /* Mẹo giữ màu nền vĩnh viễn */
        transition: background-color 5000s ease-in-out 0s;
    }
}